@keyframes pulse {
    0% {
        transform: scale(1);
        box-shadow: 0 0 0 rgba(255, 204, 0, 0.4);
    }

    50% {
        transform: scale(1.1);
        box-shadow: 0 0 10px rgba(255, 204, 0, 0.8);
    }

    100% {
        transform: scale(1);
        box-shadow: 0 0 0 rgba(255, 204, 0, 0);
    }
}

.pulse {
    animation: pulse 1s;
}

/* Animación para los emojis */
@keyframes bounce {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-10px);
    }
}