@*<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.2/css/bootstrap.min.css'>*@
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css" integrity="sha256-3sPp8BkKUE7QyPSl6VfBByBroQbKxKG7tsusY2mhbVY=" crossorigin="anonymous" />
<link href="~/Css/styleCotizacionVentas.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.18.5/xlsx.full.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<link href="~/Css/font-awesome.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/html5-qrcode/2.3.8/html5-qrcode.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/quagga/0.12.1/quagga.min.js"></script>

<style>
    body {
        background-color: white;
    }
    /* Personalización del botón de búsqueda */
    /*#btnBuscar .input-group-text {
        background-color: #FF8C00;*/ /* Color naranja */
        /*color: white;
        border: none;
        cursor: pointer;
    }*/

    #btnFiltro .input-group-text {
        background-color: #171ac2; /* Color naranja */
        color: white;
        border: none;
        cursor: pointer;
    }

    /* Input con bordes redondeados a la izquierda */
    #txtBuscar {
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
    }

        /* Quitar borde del input cuando el botón está dentro */
        #txtBuscar:focus {
            box-shadow: none;
        }
    /* Input más alto */
    .input-group .form-control {
        height: 45px;
    }

    #btn-mas {
        display: none;
    }

    .container {
        width: 80px;
        position: fixed;
        bottom: 37px;
        right: 10px;
    }

    .redes a, .btn-mas label {
        display: block;
        text-decoration: none;
        background: cornflowerblue;
        color: #fff;
        width: 55px;
        height: 55px;
        line-height: 55px;
        text-align: center;
        border-radius: 50%;
        box-shadow: 0px 1px 10px rgba(0,0,0,0.4);
        transition: all 800ms ease;
    }

        .redes a:hover {
            background: #fff;
            color: cornflowerblue;
        }

    .redes a {
        margin-bottom: -15px;
        opacity: 0;
        visibility: hidden;
    }

    #btn-mas:checked ~ .redes a {
        margin-bottom: 5px;
        opacity: 1;
        visibility: visible;
    }

    .btn-mas label {
        cursor: pointer;
        background: cornflowerblue;
        font-size: 23px;
    }

    #btn-mas:checked ~ .btn-mas label {
        transform: rotate(135deg);
        font-size: 25px;
    }

    #qr-reader {
        width: 100%;
        height: 300px;
        display: none;
        background-color: #f3f3f3;
    }

    .bg-custom-green {
        background-color: #28a745; /* Verde estándar de Bootstrap */
        font-size: 15px;
    }

    /* Estilos para la ventanita de filtro */
    .filtro-box {
        display: none; /* Oculto inicialmente */
        position: absolute;
        top: 100%; /* Justo debajo del botón */
        left: 0;
        z-index: 10;
        background: #ffffff;
        border: 1px solid #ddd;
        border-radius: 5px;
        padding: 10px;
        width: 300px; /* Ancho fijo */
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

        /* Estilo para los formularios dentro del filtro */
        .filtro-box .form-group {
            margin-bottom: 10px;
        }

        /* Botón de aplicar dentro del filtro */
        .filtro-box button {
            margin-top: 10px;
        }
</style>
<div>
    <div class="row">
        <div class="col-lg-12" style="margin-top:10px">
            <div class="row justify-content-center">
                <div class="col-xl-8">
                    <div class="input-group">
                        <!-- Botón de Filtro -->
                        <div id="btnFiltro" class="input-group-append" style="cursor: pointer; position: relative;">
                            <span class="input-group-text">
                                <i class="fa fa-filter"></i>
                            </span>
                            <!-- Ventana de Filtro -->
                            <div id="ventanaFiltro" class="filtro-box">
                                <form>
                                    <div class="form-group">
                                        <label for="categoria">Categoría</label>
                                        <select id="categoria" class="form-control">
                                            <option value="">Seleccione una categoría</option>
                                            <option value="electronica">Electrónica</option>
                                            <option value="ropa">Ropa</option>
                                            <option value="hogar">Hogar</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="categoria">Sub-Categoría</label>
                                        <select id="categoria" class="form-control">
                                            <option value="">Seleccione una sub-categoría</option>
                                            <option value="electronica">Electrónica</option>
                                            <option value="ropa">Ropa</option>
                                            <option value="hogar">Hogar</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="categoria">Formato</label>
                                        <select id="categoria" class="form-control">
                                            <option value="">Seleccione un formato</option>
                                            <option value="electronica">Electrónica</option>
                                            <option value="ropa">Ropa</option>
                                            <option value="hogar">Hogar</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="precioMin">Precio mínimo</label>
                                        <input type="number" id="precioMin" class="form-control" placeholder="Ej: 100">
                                    </div>
                                    <div class="form-group">
                                        <label for="precioMax">Precio máximo</label>
                                        <input type="number" id="precioMax" class="form-control" placeholder="Ej: 1000">
                                    </div>
                                    <button type="button" id="aplicarFiltro" class="btn btn-primary btn-block">Aplicar</button>
                                </form>
                            </div>
                        </div>
                        <!-- Input de búsqueda -->
                        <input id="txtBuscar" autocomplete="off" type="text" class="form-control text-uppercase" placeholder="Buscar producto..." />
                        <!-- Botón de buscar -->
                        <div class="input-group-append" style="cursor: pointer;">
                            <!-- Botón con texto y icono (se oculta el texto en pantallas pequeñas) -->
                            <div id="btnBuscar" class="btn btn-outline-primary btn-sm d-flex justify-content-center align-items-center">
                                <i class="fa fa-search"></i>
                                <span class="d-none d-md-inline">Buscar producto</span> <!-- El texto solo se muestra en pantallas grandes -->
                            </div>

                            <!-- Botón Código de Barra -->
                            <button id="btnCodigoBarras" class="btn btn-outline-primary btn-sm" data-bs-toggle="modal" data-bs-target="#modalScanner">
                                <i class="fas fa-barcode"></i>
                                <span class="d-none d-md-inline">Código de Barra</span> <!-- El texto solo se muestra en pantallas grandes -->
                            </button>
                        </div>


                        <div>
                            <label id="txtMetodoPago"></label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Botón para abrir el modal -->
@*<button id="btnCodigoBarras" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#modalScanner">
    <i class="fas fa-barcode"></i> Código de Barra
</button>*@

<!-- Modal -->
<div class="modal fade" id="modalScanner" tabindex="-1" aria-labelledby="modalScannerLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-fullscreen">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalScannerLabel">Escanear Código de Barras</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body text-center">
                <!-- El video ocupará toda la pantalla del modal -->
                <video id="video" style="width: 100%; height: 100%; object-fit: cover;"></video>
                <input type="text" id="codigoBarras" class="form-control mt-3" placeholder="Código escaneado" readonly>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>


<script>
    document.addEventListener("DOMContentLoaded", function () {
        let video = document.getElementById("video");
        let inputCodigo = document.getElementById("codigoBarras");
        let stream = null;
        let quaggaInitialized = false;

        // Al abrir el modal
        document.getElementById("modalScanner").addEventListener("shown.bs.modal", async function () {
            try {
                // Detener cualquier flujo anterior
                if (stream) {
                    let tracks = stream.getTracks();
                    tracks.forEach(track => track.stop());
                }

                // Accedemos a la cámara
                stream = await navigator.mediaDevices.getUserMedia({ video: { facingMode: "environment" } });
                video.srcObject = stream;
                video.style.display = "block"; // Aseguramos que el video se muestre
                video.play();

                // Si Quagga no se ha inicializado previamente, lo inicializamos
                if (!quaggaInitialized) {
                    Quagga.init({
                        inputStream: {
                            type: "LiveStream",
                            target: video,
                            constraints: {
                                facingMode: "environment", // Usar la cámara trasera si es posible
                                width: { ideal: 1280 },    // Ajusta la resolución de la cámara
                                height: { ideal: 720 }
                            }
                        },
                        decoder: {
                            readers: ["ean_reader", "code_128_reader"],  // Limitar a los tipos que necesitas
                            multiple: false  // Para que lea solo un código a la vez
                        },
                        locator: {
                            patchSize: "medium", // Tamanho de los parches de la imagen
                            halfSample: true     // Utiliza una resolución más baja para mejorar el rendimiento
                        }
                    }, function (err) {
                        if (!err) {
                            Quagga.start();
                        } else {
                            console.error("Error en Quagga:", err);
                        }
                    });

                    // Evento para cuando se detecta un código
                    Quagga.onDetected(function (result) {
                        let scannedCode = result.codeResult.code;

                        // Filtrar caracteres no válidos
                        scannedCode = scannedCode.replace(/[^a-zA-Z0-9-]/g, ""); // Mantener los caracteres alfanuméricos y el guion

                        inputCodigo.value = scannedCode; // Establecer el código limpio en el input

                        Quagga.stop(); // Detener el escaneo
                        let tracks = stream.getTracks();
                        tracks.forEach(track => track.stop()); // Detener la cámara
                        video.style.display = "none"; // Ocultar el video

                        // Redirigir o realizar otras acciones
                        window.location.href = "/CotizacionVentas/Detalles?ItemCode=" + scannedCode;
                    });


                }
            } catch (err) {
                console.error("Error al acceder a la cámara: ", err);
            }
        });

        // Al cerrar el modal
        document.getElementById("modalScanner").addEventListener("hidden.bs.modal", function () {
            // Detenemos la cámara y liberamos los recursos cuando se cierra el modal
            if (stream) {
                let tracks = stream.getTracks();
                tracks.forEach(track => track.stop());
            }
            // Reiniciar la variable que marca si Quagga fue inicializado
            quaggaInitialized = false;
        });
    });
</script>

@*<div class="container">
    <input type="checkbox" id="btn-mas">
    <div class="redes">
        <a href="javascript:void(0);" class="fa-sharp fa-solid fa-qrcode" data-toggle="tooltip" data-placement="left" id="btnEscanear" title="Escanear"></a>
    </div>
    <div class="btn-mas">
        <label for="btn-mas" class="fa fa-plus"></label>
    </div>
</div>*@

<div id="resultadosBusqueda"></div>
<div class="modal fade" id="miModal" tabindex="-1" role="dialog" aria-labelledby="miModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="miModalLabel">Nueva venta</h5>
                <!-- Botón de cierre oculto -->
                <button type="button" class="close" aria-label="Close" style="display: none;">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="formDatosCliente">
                    <div class="form-group">
                        <label for="inputNitDpi">NIT o DPI:</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="inputNitDpi" placeholder="Ingrese su NIT o DPI">
                            <button type="button" class="btn btn-primary" id="btnBuscarNitDpi">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="inputNombreCliente">Nombre del Cliente:</label>
                        <input type="text" class="form-control" id="inputNombreCliente" placeholder="Ingrese el nombre del cliente">
                    </div>
                    <div class="form-group">
                        <label for="inputDireccion">Dirección:</label>
                        <input type="text" class="form-control" id="inputDireccion" placeholder="Ingrese la dirección">
                    </div>
                    <div class="form-group">
                        <label for="inputTelefono">Teléfono:</label>
                        <input type="text" class="form-control" id="inputTelefono" placeholder="Ingrese el número de teléfono">
                    </div>
                </form>
                <p>Por favor, elija cómo desea proceder con el pago.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="btnEfectivo">Efectivo</button>
                <button type="button" class="btn btn-primary" id="btnTarjeta">Tarjeta</button>
            </div>
        </div>
    </div>
</div>
<script>
    function buscarProductoEnCotizacion() {
        const existingCotizacion = getCookie('Cotizacion_A1'); // Obtenemos la cookie

        if (existingCotizacion) {
            const cotizacion = JSON.parse(existingCotizacion); // Convertimos el JSON a un objeto
            console.log(cotizacion);
            // Verificamos si hay productos en la cotización
            if (cotizacion.productos && cotizacion.productos.length > 0) {
                const primerListPrice = cotizacion.productos[0]["ListPrice"]; // Obtenemos el primer ListPrice
                $('#txtMetodoPago').text(primerListPrice);
                return primerListPrice;
            } else {
                return 0;
            }
        } else {
            return 0;
        }
    }

    $('#btnEfectivo').click(function () {
        $('#txtMetodoPago').text('1');
        $('#miModal').modal('hide');
    });

    $('#btnTarjeta').click(function () {
        $('#txtMetodoPago').text('9');
        $('#miModal').modal('hide');
    });

    $(document).ready(function () {
        CargarPromociones();
        function CargarPromociones() {
            $.ajax({
                url: '@Url.Action("BuscarProductos", "CotizacionVentas")',
                type: "GET",
                async: false,
                data: { Promos: true },
                success: function (data) {
                    $("#resultadosBusqueda").html(data);
                },
                error: function (xhr, status, error) {
                    console.error("Error al cargar las promociones:", error);
                },
                complete: function () {
                    $("#globalLoading").hide(); // Oculta el indicador de carga
                }
            });
        }
    });

    $(document).ready(function () {
        $('#txtBuscar').on('keydown', function (event) {
            if (event.key === "Enter") {
                event.preventDefault();
                BuscarProducto();
            }
        });
    });

    $(document).ready(function () {
        $("#btnBuscar").click(function () {
            BuscarProducto();
        });
    });

    function BuscarProducto() {
        var textBuscar = $("#txtBuscar").val();
        $("#globalLoading").show();
        $.ajax({
            url: '@Url.Action("BuscarProductos", "CotizacionVentas")',
            data: { NombreProducto: textBuscar, Promos: false },
            success: function (data) {
                $("#resultadosBusqueda").html(data);
                $("#txtBuscar").focus();
                $("#globalLoading").hide();
            }
        });
        $("#globalLoading").hide();
    }

    $(document).ready(function () {
        let qrReader;  // Variable para el lector QR

        // Verificamos si el dispositivo es móvil
        function isMobileDevice() {
            return /Mobi|Android/i.test(navigator.userAgent);
        }

        // Función para iniciar el escaneo
        function startQRScanner() {
            const qrContainer = $("#qr-reader");

            // Verificar si el dispositivo es móvil
            if (!isMobileDevice()) {
                alert("Este escaneo solo está disponible en dispositivos móviles.");
                return;
            }

            // Si aún no se ha creado el lector, lo inicializamos
            if (!qrReader) {
                qrReader = new Html5Qrcode("qr-reader");
            }

            qrContainer.show();  // Mostrar el contenedor del lector QR

            // Iniciar el escaneo con la cámara del dispositivo
            qrReader.start(
                { facingMode: "environment" },  // Usar la cámara trasera del móvil
                {
                    fps: 10,  // Velocidad de fotogramas para el escaneo
                    qrbox: { width: 250, height: 250 }  // Tamaño del cuadro de escaneo
                },
                qrCodeMessage => {
                    // Procesamos el mensaje QR escaneado
                    alert("Código escaneado: " + qrCodeMessage);
                    // Detener el lector y ocultar el contenedor después de escanear
                    qrReader.stop().then(() => {
                        qrContainer.hide();
                    }).catch(err => {
                        console.error("Error al detener el lector QR:", err);
                    });
                },
                errorMessage => {
                    // Muestra los errores de escaneo
                    console.warn("Error de escaneo: ", errorMessage);
                }
            ).catch(err => {
                console.error("Error al iniciar el lector QR: ", err);
                alert("No se pudo acceder a la cámara. Verifica los permisos y vuelve a intentar.");
            });
        }

        // Al hacer clic en el botón de escanear
        $("#btnEscanear").click(function (event) {
            event.preventDefault();  // Evitar comportamiento predeterminado

            startQRScanner();  // Iniciar el escaneo
        });
    });


    $(document).ready(function () {
        let scannedData = "";
        let lastKeyTime = Date.now();

        $(document).on("keypress", function (event) {
            const currentTime = Date.now();
            const timeDifference = currentTime - lastKeyTime;

            // Si la diferencia de tiempo es muy corta, consideramos que es un escaneo
            if (timeDifference < 50) {
                scannedData += event.key;
            } else {
                // Reinicia la acumulación si el tiempo entre teclas fue largo (posiblemente manual)
                scannedData = event.key;
            }

            // Actualiza el último tiempo de tecla
            lastKeyTime = currentTime;

            // Al final de un escaneo, los lectores envían "Enter"
            if (event.key === "Enter") {
                handleScannedCode(scannedData);
                scannedData = "";  // Resetea para el próximo escaneo
            }
        });

        function handleScannedCode(qrCodeMessage) {
            if (qrCodeMessage) {
                window.location.href = '@Url.Action("Detalles", "CotizacionVentas")?ItemCode=' + encodeURIComponent(qrCodeMessage).replace("'", "-").replace("Enter", "");
            }
        }
    });

    document.getElementById('btnFiltro').addEventListener('click', function () {
        const filtroBox = document.getElementById('ventanaFiltro');
        // Alternar la visibilidad del filtro
        filtroBox.style.display = filtroBox.style.display === 'block' ? 'none' : 'block';
    });

    // Cerrar el filtro si se hace clic fuera de él
    document.addEventListener('click', function (event) {
        const filtroBox = document.getElementById('ventanaFiltro');
        const btnFiltro = document.getElementById('btnFiltro');
        if (!btnFiltro.contains(event.target) && !filtroBox.contains(event.target)) {
            filtroBox.style.display = 'none';
        }
    });

    // Evitar que el clic en la ventana de filtro se propague y cierre la ventana
    document.getElementById('ventanaFiltro').addEventListener('click', function (event) {
        event.stopPropagation();  // Esto evita que el clic se propague y active el cierre
    });

    // Acción al presionar el botón "Aplicar"
    document.getElementById('aplicarFiltro').addEventListener('click', function () {
        const categoria = document.getElementById('categoria').value;
        const precioMin = document.getElementById('precioMin').value;
        const precioMax = document.getElementById('precioMax').value;

        console.log('Filtros aplicados:', { categoria, precioMin, precioMax });
        alert('Filtros aplicados. ¡Revise la consola!');

        // Ocultar la ventanita después de aplicar los filtros
        document.getElementById('ventanaFiltro').style.display = 'none';
    });

    const mensaje = localStorage.getItem('mensaje');
    if (mensaje) {
        Swal.fire({
            icon: 'success',
            title: '¡Éxito!',
            text: mensaje,
            timer: 3000,
            showConfirmButton: false,
            toast: true,
            position: 'top-end'
        });
        localStorage.removeItem('mensaje');
    }
</script>